In [118]:
#importing the required modules
import pandas as pd
import numpy as np
import os


#reading the dataset
path_to_the_folder="/content/drive/MyDrive/EETBS 2021-2022/test_folder"
file_name="energydata_complete.csv"
path_to_the_file=os.path.join(path_to_the_folder,file_name)
my_DF=pd.read_csv(path_to_the_file,index_col=0,parse_dates=[0])
my_DF

#adding some extra columns derived from the date
my_DF.loc[:,"hour"]=my_DF.index.hour
my_DF.loc[:,"day of the week"]=my_DF.index.dayofweek


#adding weekend flag
my_DF.loc[my_DF.loc[:,"day of the week"]>4,"weekend"]="Yes"
my_DF.loc[my_DF.loc[:,"day of the week"]<5,"weekend"]="No"


my_DF

#adding the working hours
my_DF.loc[:,"working hours"]="Yes"
my_DF.loc[my_DF.loc[:,"day of the week"]>4,"working hours"]="No"
my_DF.loc[my_DF.loc[:,"hour"]>17,"working hours"]="No"
my_DF.loc[my_DF.loc[:,"hour"]<10,"working hours"]="No"


#adding other data available from the date

my_DF.loc[:,"Month"]=my_DF.index.month


#explaining the dataset used for the assignment:
#The provided dataset is used to predict the energy consumpion (appliances) of a residential building.
#The target column is therefore "appliances" which refers to the energy consumption of the building and is measured in "Wh".  
#Features used to predict the energy consumption are: Energy use of light fixtures in the house(Wh), Relative Humidity and Temperature of the different areas of the building, wind speed, relative humiity and temperature of the outside air, presure, visibility and dew point temperaure. 
#Data measurement has been carried out in a timespan of about 4.5 months with an interval of 10 mins between each set of data. 

#In order to tackle the problem better, some time related features were extracted from the date column. Creating lagged columnss did not seem necessary and was not performed.

In [117]:
my_DF

                     Appliances  lights         T1  ...  weekend  working hours  Month
date                                                ...
2016-01-11 17:00:00          60      30  19.890000  ...       No            Yes      1
2016-01-11 17:10:00          60      30  19.890000  ...       No            Yes      1
2016-01-11 17:20:00          50      30  19.890000  ...       No            Yes      1
2016-01-11 17:30:00          50      40  19.890000  ...       No            Yes      1
2016-01-11 17:40:00          60      40  19.890000  ...       No            Yes      1
...                         ...     ...        ...  ...      ...            ...    ...
2016-05-27 17:20:00         100       0  25.566667  ...       No            Yes      5
2016-05-27 17:30:00          90       0  25.500000  ...       No            Yes      5
2016-05-27 17:40:00         270      10  25.500000  ...       No            Yes      5
2016-05-27 17:50:00         420      10  25.500000  ...       No            Yes      5
2016-05-27 18:00:00         430      10  25.500000  ...       No             No      5

[19735 rows x 33 columns]